body {
	margin: 0;
	padding: 0;
}

header {
	height: 100vh;
	background-color: grey;
}

section {
	height: 100vh;
	background-color: #dcdcdc;
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
}

nav {
	background-color: black;
	height: 60px;
	color: white;
}

li {
	display: block;
	height: 60px;
	line-height: 60px;
	width: 120px;
	text-align: center;
}